@import 'https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

body {
    background-color: #efefef;
    font-family: 'Raleway', sans-serif;
}
/* Header Code */
.splash {
    background-color: #efefef;
    font-family: 'Raleway', sans-serif;
    
}
.cover {
    height: 80%;
    text-align: right;
          -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}
.splash-col {
    height: 100vh;
    width: 40vw;
    top: 50%;

}
.text-wrapper {
      -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.small {
    font-size: 2em;
    text-align: left;
}
.big {
    font-size: 6em;
}
.next-wrapper {
    height: 20vh;
}
.button {
    text-decoration: none;
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button:hover {
    text-decoration: none;
}

/* Mobile*/

@media screen and (max-width: 980px) {
    .desktoponly {
        display: none;
    }
    
    .splash-col {
        width: 80vw;
    }
    .splash {
    background-image: url("https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAk9AAAAJDdjM2VmNDhjLTliMGItNGYyYS1iM2NmLWQ0YTYxNDc5MzU0ZA.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .big {
        font-size: 3em;
    }
    .small {
        font-size: 1em;
    }
}

.about {
    width: 100vw;
    height: 150%;
    background-color: #FB424A;
    
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

.about h1 {
    font-size: 5em;
}
.about p {
    font-size: 2em;
}

.resume {
    text-align: center;
}
#image {
    width: 60vw;
    height: 40vh;
         background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/resume.png");
}